<div>
  <link href="./navbar.css" rel="stylesheet" />
  <div class="navbar-navbar-container">
    <header data-role="Header" class="navbar-max-width navigation-container">
      <div class="navbar-container"><div class="navbar-nav"></div></div>
      <nav class="navigation-links-nav navigation-links-root-class-name10">
        <span class="navigation-links-text navbar-link">
          <span>Undangan</span>
        </span>
        <span class="navigation-links-text1 navbar-link">
          <span>Cerita kami</span>
        </span>
        <span class="navigation-links-text2 navbar-link">
          <span>Mempelai</span>
        </span>
        <span class="navigation-links-text3 navbar-link">
          <span>Galeri</span>
        </span>
        <span class="navigation-links-text4 navbar-link">
          <span>Kirim doa dan ucapan</span>
        </span>
      </nav>
      <div data-type="BurgerMenu" class="navigation-burger-menu">
        <svg viewBox="0 0 1024 1024" class="navbar-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
    </header>
  </div>
</div>
